* {
    box-sizing: border-box; 
  }

  body {
    color: #242424;
    margin: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-color: #eff3f9;
    font-size: 15px;
  }

  h1 { 
      color: #933EFF;
      font-size: 30px;
  }

  h2 {
    color: #933EFF;
    font-size: 20px;
  }

  .contain {
    display: flex;
    flex-direction: row;
  }

  .aboutcontain {
    margin: 1em;
    padding: 1em;
    background-color: white;
    line-height: 100%;
  }

  .contain div {
    padding: .3em;
    flex: 1;
    margin: .9em .3em;
  }

  .contain .card {
      background-color: white;
      padding: 1em;
  }

  .headertop img {
    width: 500px;
  }

  .contain .card-img1 {
    background-color: white;
    height: 32.5vh;
    background-image:url('../img/seattle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.contain .card-img2 {
    background-color: white;
    height: 32.5vh;
    background-image:url('../img/uw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

  .col-1, .col-2, .col-3 {
    flex: 1 1 auto;
    padding: 0 4px;
  }

  .col-2 {
    flex-grow: 1;
  }

  .mapcontain {
    flex: 0 0 20vw;
  }

  #map {
    height: 66vh;
  }

  .headertop {
      background-color: white;
      margin: 1.2em;
      margin-bottom: .1em;
      line-height: 80%;
  }

  header, footer, .mapcontain, .imgs, .filters {
    padding: 1em;
  }
  
  .droptitle {
      border: 1px solid #f1f1f1;
      padding: .4em;
      border-radius: 2%; 
      margin: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin: 0!important;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.roomtypecont {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .roomtypecont p {
      font-weight: bold;
  }

  .entire {
    color: #4DA1EF;
 }

 .private {
    color: #EF4D4D;
 }

 .shared {
    color: #20BD4C;
 }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #f1f1f1;
  border-radius: 25%;
}

.roomtypecont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.roomtypecont:hover input ~ .checkmark {
  background-color: #ccc;
}

.roomtypecont input:checked ~ .checkmark {
  background-color: #933EFF;
}

@media(max-width: 768px) {
  .col-3 {
      display: none;
  }

  .contain .card {
      font-size: 10px;
  }

  .contain .card h2 {
    line-height: 100%;
  }

  .slider {
      margin: 0!important;
  }

  .roomtypecont {
      display: inline-block!important;
  }
}
